// =====================================
//                NDEX
// =====================================

// Merlín Estudio

// CONTENIDO:
// - Header
// - Quién es Merlín?
// - Hacia dónde vamos?


// --- HEADER --- //
.foto-portada
	margin-top: 40px
	@media (max-width: 380px)
	margin-top: 10px
	.icon-logo-merlin
		font-size: 82px


// --- QUIEN ES MERLIN --- //
.quien-es-merlin
	height: 100vh
	padding-top: calc((100vh - 552px) / 2)
	padding-bottom: calc((100vh - 552px) / 2)
	color: $negro !important
	@media (max-width: 991px)
		height: auto
		padding: 75px 15px
		p
			padding-left: 15px
			padding-right: 15px
		p:first-child
			margin-top: 50px


// --- HACIA DONDE VAMOS --- //
.hacia-donde-vamos
	background-image: url("../img/cielo.jpg")
	background-size: cover
	color: #fff
	padding-top: 100px
	padding-bottom: 100px
	height: 1015px
	h3
		font-family: $regularSC !important
	@media (max-width: 991px)
		height: 1150px
		h2
			font-size: 52px
			text-align: center
			margin-bottom: 100px
	.row:nth-child(2)
		+transition(ease 1s all)
		@media (max-width: 991px)
			margin-top: 150px
			&:hover
				margin-top: 0
		.widget-container
			margin-top: 256px
			border: 3px solid $verde
			padding-top: 30px
			padding-bottom: 30px
			height: 90px
			overflow: hidden
			+transition(ease 1s all)
			@media (max-width: 991px)
				margin-top: 15px
			h3
				font-family: $regular
				margin-bottom: 0
			p
				font-family: $regular
				text-align: left
				margin-top: 25px
				margin-bottom: 0
				padding-left: 15px
				padding-right: 15px
		.widget-container.mision:hover
			background-color: rgba(163,212,20,.7)
			border-color: rgba(163,212,20,.1) !important
			height: 274px !important
			margin-top: 160px
			@media (max-width: 1200px)
				height: 294px !important
			@media (max-width: 991px)
				height: 190px !important
			@media (max-width: 765px)
				height: 200px !important
			@media (max-width: 541px)
				height: 225px !important
			@media (max-width: 404px)
				height: 260px !important
			@media (max-width: 380px)
				height: 240px !important
				margin-top: 15px
		.widget-container.vision:hover
			background-color: rgba(163,212,20,.7)
			border-color: rgba(163,212,20,.1) !important
			height: 482px !important
			margin-top: 60px
			@media (max-width: 1200px)
				margin-top: 20px
				height: 552px !important
			@media (max-width: 991px)
				height: 290px !important
			@media (max-width: 767px)
				height: 350px !important
			@media (max-width: 448px)
				height: 400px !important
			@media (max-width: 380px)
				height: 400px !important
		.widget-container.valores:hover
			background-color: rgba(163,212,20,.7)
			border-color: rgba(163,212,20,.1) !important
			height: 298px !important
			margin-top: 160px
			@media (max-width: 1200px)
				margin-top: 130px
				height: 350px !important
			@media (max-width: 991px)
				height: 200px !important
				margin-top: 15px
			@media (max-width: 767px)
				height: 250px !important
			@media (max-width: 509px)
				height: 225px !important
			@media (max-width: 380px)
				margin-top: 15px
				height: 250px !important


// --- QUE OFRECEMOS --- //
.que-ofrecemos
	padding-top: 100px
	padding-bottom: 100px
	.columna1
		background-image: url("../img/foto.jpg")
		background-size: cover
		height: 1000px
		@media (max-width: 991px)
			height: 500px
		img
			@media (max-width: 991px)
				width: 70%
	.columna2
		.row
			height: 300px
			@media (max-width: 991px)
				height: 300px
	.que-ofrecemos-container
		position: relative
		img
			position: absolute
			&:last-child
				z-index: -1
				top: 0px
				+transition(ease 1s all)
		&:hover
			img
				&:last-child
					top: 150px


// --- PORTFOLIO --- //
.portfolio
	padding-bottom: 100px
	.row
		&:first-child
			margin-bottom: 15px
			@media (max-width: 991px)
				margin-bottom: 60px
	h2
		margin-bottom: 0
	.navbar
		padding: 0
		ul
			margin-right: 0
			margin-left: auto
			margin-bottom: 0
			@media (max-width: 991px)
				margin-left: 0
				margin-right: auto
				padding-left: 0
				margin-top: 45px
			li
				@media (max-width: 991px)
					display: inline-block
				button
					background: none
					border: none
					&:first-child
						@media (max-width: 991px)
							padding-left: 0
							padding-right: 12px
					&:hover
						cursor: pointer
					&:focus, &:active
						outline: none
					@media (max-width: 575px)
						font-size: 12px

	.portfolio-container
		position: relative
		overflow: hidden
		width: 100%
		height: 635px
		margin-left: 0
		@media (max-width: 575px)
			height: 270px

		#portfolio-identidad
			position: absolute
			height: 100%
			width: 100%
			left: 0%
			background-color: red
			transition: all 0.3s ease

		#portfolio-foto,
		#portfolio-grafico
			position: absolute
			height: 100%
			width: 100%
			left: 100%
			transition: all 0.3s ease
			img
				margin-left: auto
				margin-right: auto
				max-width: 600px
				@media (max-width: 575px)
					width: 70%
			p
				font-family: $regularSC
				width: 600px
				margin-top: 10px
				margin-left: auto
				margin-right: auto
				@media (max-width: 575px)
					width: 70%
					font-size: 12px
			.carousel-control-prev,
			.carousel-control-next
				background: none
				opacity: 1 !important
				height: calc(100% - 50px)
				@media (max-width: 575px)
					height: calc(100% - 44px)
				span
					padding: 15px
					border: 2px solid $negro
					border-radius: 2px
					@media (max-width: 575px)
						padding: 5px
						border: 1px solid $negro
						line-height: 14px
					&:active
						background: $negro
				&:active span
					color: #fff !important

		#portfolio-mktdigital
			position: absolute
			height: 100%
			width: 100%
			left: 300%
			background-color: blue
			transition: all 0.3s ease


// --- FOOTER --- //
footer
	color: #fff
	background-color: $negro
	.container-fluid
	.columna1
		padding-top:  100px
		padding-bottom: 100px
		padding-left: 7.5%
		padding-right: 7.5%
		.icon-logo-merlin:before
			color: #fff
			font-size: 72px
		.contacto
			margin-top: 70px
			margin-bottom: 70px
			p
				margin-bottom: 0
				&:last-child
					margin-top: 30px
					font-size: 24px
		form
			input, textarea
				background: transparent
				color: #fff !important
				border: none
				font-family: $regular
				&:focus, &:active, &:hover
					outline: none
				&::placeholder
					color: #fff

			input[type='text']
				width: 47.5%
				border-bottom: 2px solid #fff
				padding-bottom: 10px
				margin-bottom: 15px
				+transition(all 0.5s ease)
				&:first-child
					margin-right: 3.9%
					@media (max-width: 1235px)
						margin-right: 3.8%
					@media (max-width: 1235px)
						margin-right: 3.7%
					@media (max-width: 1058px)
						margin-right: 3.6%
					@media (max-width: 417px)
						margin-right: 3.5%
					@media (max-width: 392px)
						margin-right: 3%
				&:focus
					border-color: $verde

			textarea
				width: 100%
				resize: none
				border-bottom: 2px solid #fff
				+transition(all 0.5s ease)
				rows: 150
				&:focus
					border-color: $verde

			input[type='submit']
				display: block
				margin-right: 0
				margin-left: auto
				margin-top: 10px
				padding-right: 0
				+transition(all 0.5s ease)
				&:focus, &:active, &:hover
					color: $verde !important

	.columna2
		padding: 0
		background-image: url("../img/comerdo.jpg") !important
		background-size: cover
		width: 100%
		img
			@media (max-width: 991px)
				width: 50%
				padding-top: 50px
				padding-bottom: 50px


// --- IR ARRIBA --- //
.ir-arriba 
	display: none
	background-color: transparent
	cursor: pointer
	position: fixed
	bottom: 15px
	right: 15px
	background-image: url(../img/flecha.png)
	width: 36px
	height: 39px
	// border-radius: 5px
	z-index: 9999 !important