// =====================================
//                NDEX
// =====================================

// Merlín Estudio

// CONTENIDO:
// - Header
// - Quién es Merlín?
// - Hacia dónde vamos?


// --- HEADER --- //
header
	margin-top: 40px
	@media (max-width: 380px)
	margin-top: 10px
	.icon-logo-merlin
		font-size: 82px


// --- QUIEN ES MERLIN --- //
.quien-es-merlin
	height: 100vh
	padding-top: calc((100vh - 552px) / 2)
	padding-bottom: calc((100vh - 552px) / 2)
	@media (max-width: 991px)
		height: auto
		padding: 75px 15px
		p
			padding-left: 15px
			padding-right: 15px
		p:first-child
			margin-top: 50px



// --- HACIA DONDE VAMOS --- //
.hacia-donde-vamos
	background-image: url("../img/cielo.jpg")
	background-size: cover
	color: #fff
	padding-top: 100px
	padding-bottom: 100px
	height: 1015px
	h3
		font-family: $regularSC !important
	@media (max-width: 991px)
		height: 1150px
		h2
			font-size: 52px
			text-align: center
			margin-bottom: 100px
	.row:nth-child(2)
		+transition(ease 1s all)
		@media (max-width: 991px)
			margin-top: 150px
			&:hover
				margin-top: 0
		.widget-container
			margin-top: 256px
			border: 3px solid #A3D414
			padding-top: 30px
			padding-bottom: 30px
			height: 90px
			overflow: hidden
			+transition(ease 1s all)
			@media (max-width: 991px)
				margin-top: 15px
			h3
				font-family: $regular
				margin-bottom: 0
			p
				font-family: $regular
				text-align: left
				margin-top: 25px
				margin-bottom: 0
				padding-left: 15px
				padding-right: 15px
		.widget-container.mision:hover
			background-color: rgba(163,212,20,.7)
			border-color: rgba(163,212,20,.1) !important
			height: 274px !important
			margin-top: 160px
			@media (max-width: 1200px)
				height: 294px !important
			@media (max-width: 991px)
				height: 190px !important
			@media (max-width: 765px)
				height: 200px !important
			@media (max-width: 541px)
				height: 225px !important
			@media (max-width: 404px)
				height: 260px !important
			@media (max-width: 380px)
				height: 240px !important
				margin-top: 15px
		.widget-container.vision:hover
			background-color: rgba(163,212,20,.7)
			border-color: rgba(163,212,20,.1) !important
			height: 482px !important
			margin-top: 60px
			@media (max-width: 1200px)
				margin-top: 20px
				height: 552px !important
			@media (max-width: 991px)
				height: 290px !important
			@media (max-width: 767px)
				height: 350px !important
			@media (max-width: 448px)
				height: 400px !important
			@media (max-width: 380px)
				height: 400px !important
		.widget-container.valores:hover
			background-color: rgba(163,212,20,.7)
			border-color: rgba(163,212,20,.1) !important
			height: 298px !important
			margin-top: 160px
			@media (max-width: 1200px)
				margin-top: 130px
				height: 350px !important
			@media (max-width: 991px)
				height: 200px !important
				margin-top: 15px
			@media (max-width: 767px)
				height: 250px !important
			@media (max-width: 509px)
				height: 225px !important
			@media (max-width: 380px)
				margin-top: 15px
				height: 250px !important


// --- QUE OFRECEMOS --- //
.que-ofrecemos
	padding-top: 100px
	padding-bottom: 100px
	.columna1
		background-image: url("../img/foto.jpg")
		background-size: cover
		height: 1000px
		@media (max-width: 991px)
			height: 500px
	.columna2
		.row
			height: 300px
			@media (max-width: 991px)
				height: 300px
	.que-ofrecemos-container
		position: relative
		img
			position: absolute
			&:last-child
				z-index: -1
				top: 0px
				+transition(ease 1s all)
		&:hover
			img
				&:last-child
					top: 150px


// --- PORTFOLIO --- //
.portfolio
	padding-top: 100px
	padding-bottom: 100px
	h2
		margin-bottom: 0
	.navbar
		padding: 0
		ul
			margin-right: 0
			margin-left: auto
			margin-bottom: 0
			li
				@media (max-width: 991px)
					display: inline-block
				button
					background: none
					border: none
					&:hover
						cursor: pointer
	.portfolio-container
		position: relative
		overflow: hidden
		width: 100%
		height: 625px
		margin-left: 0

		#portfolio-identidad
			position: absolute
			height: 100%
			width: 100%
			left: 0%
			background-color: red
			transition: all 0.3s ease

		#portfolio-foto
			position: absolute
			height: 100%
			width: 100%
			left: 100%
			transition: all 0.3s ease
			img
				margin-left: auto
				margin-right: auto
			p
				font-family: $regularSC
				width: 600px
				margin-left: auto
				margin-right: auto
		#portfolio-grafico
			position: absolute
			height: 100%
			width: 100%
			left: 200%
			background-color: black
			transition: all 0.3s ease
		#portfolio-mktdigital
			position: absolute
			height: 100%
			width: 100%
			left: 300%
			background-color: blue
			transition: all 0.3s ease
