// -------------------------------------
//                 NAV
// -------------------------------------

// Merlín Estudío



// --- ESTILOS BÁSICOS --- //

.navbar
	padding-left: 0px
	padding-right: 0px
	a
		&:hover
			text-decoration: none
	ul
		padding-right: 0px
		.nav-item
			margin-right: 0px
			display: inline-block
			font-family: $regularSC
			@media (max-width: 991px)
				display: block
			a
				color: $negro
				&:hover
					text-decoration: none !important

