@charset "UTF-8";
@font-face {
  font-family: "Scala-Regular";
  src: url(../fonts/ScalaSans-Regular.otf); }
@font-face {
  font-family: "Scala-RegularSC";
  src: url(../fonts/ScalaSans-RegularSC.otf); }
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?4jqyld");
  src: url("../fonts/icomoon.eot?4jqyld#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4jqyld") format("truetype"), url("../fonts/icomoon.woff?4jqyld") format("woff"), url("../fonts/icomoon.svg?sinhtw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right2:before {
  content: "";
  color: #2E3339;
  font-size: 18px; }
  @media (max-width: 575px) {
    .icon-arrow-right2:before {
      font-size: 14px; } }

.icon-arrow-left2:before {
  content: "";
  color: #2E3339;
  font-size: 18px; }
  @media (max-width: 575px) {
    .icon-arrow-left2:before {
      font-size: 14px; } }

.icon-logo-merlin:before {
  content: "";
  color: #2E3339; }

.icon-be:before {
  content: "";
  color: #2E3339; }

.icon-fb:before {
  content: "";
  color: #2E3339; }

.icon-instagram:before {
  content: "";
  color: #2E3339; }

h1, h2 {
  font-family: "Scala-RegularSC";
  margin-bottom: 50px;
  font-size: 72px; }
  @media (max-width: 991px) {
    h1, h2 {
      font-size: 32px;
      margin-bottom: 0px; } }

p {
  font-family: "Scala-Regular"; }
  @media (max-width: 991px) {
    p {
      font-size: 14px; } }

a:hover {
  text-decoration: none !important; }

.navbar {
  padding-left: 0px;
  padding-right: 0px; }
  .navbar a:hover {
    text-decoration: none; }
  .navbar ul {
    padding-right: 0px; }
    .navbar ul .nav-item {
      margin-right: 0px;
      display: inline-block;
      font-family: "Scala-RegularSC"; }
      @media (max-width: 991px) {
        .navbar ul .nav-item {
          display: block; } }
      .navbar ul .nav-item a {
        color: #2E3339; }
        .navbar ul .nav-item a:hover {
          text-decoration: none !important; }
      .navbar ul .nav-item .active {
        color: #A3D414 !important; }

.foto-portada {
  margin-top: 40px;
  margin-top: 10px; }
  .foto-portada .icon-logo-merlin {
    font-size: 82px; }

.quien-es-merlin {
  height: 100vh;
  padding-top: calc((100vh - 552px) / 2);
  padding-bottom: calc((100vh - 552px) / 2);
  color: #2E3339 !important; }
  @media (max-width: 991px) {
    .quien-es-merlin {
      height: auto;
      padding: 75px 15px; }
      .quien-es-merlin p {
        padding-left: 15px;
        padding-right: 15px; }
      .quien-es-merlin p:first-child {
        margin-top: 50px; } }

.hacia-donde-vamos {
  background-image: url("../img/cielo.jpg");
  background-size: cover;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 1015px; }
  .hacia-donde-vamos h3 {
    font-family: "Scala-RegularSC" !important; }
  @media (max-width: 991px) {
    .hacia-donde-vamos {
      height: 1150px; }
      .hacia-donde-vamos h2 {
        font-size: 52px;
        text-align: center;
        margin-bottom: 100px; } }
  .hacia-donde-vamos .row:nth-child(2) {
    -webkit-transition: ease 1s all;
    -moz-transition: ease 1s all;
    -ms-transition: ease 1s all;
    -transition: ease 1s all; }
    @media (max-width: 991px) {
      .hacia-donde-vamos .row:nth-child(2) {
        margin-top: 150px; }
        .hacia-donde-vamos .row:nth-child(2):hover {
          margin-top: 0; } }
    .hacia-donde-vamos .row:nth-child(2) .widget-container {
      margin-top: 256px;
      border: 3px solid #A3D414;
      padding-top: 30px;
      padding-bottom: 30px;
      height: 90px;
      overflow: hidden;
      -webkit-transition: ease 1s all;
      -moz-transition: ease 1s all;
      -ms-transition: ease 1s all;
      -transition: ease 1s all; }
      @media (max-width: 991px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container {
          margin-top: 15px; } }
      .hacia-donde-vamos .row:nth-child(2) .widget-container h3 {
        font-family: "Scala-Regular";
        margin-bottom: 0; }
      .hacia-donde-vamos .row:nth-child(2) .widget-container p {
        font-family: "Scala-Regular";
        text-align: left;
        margin-top: 25px;
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px; }
    .hacia-donde-vamos .row:nth-child(2) .widget-container.mision:hover {
      background-color: rgba(163, 212, 20, 0.7);
      border-color: rgba(163, 212, 20, 0.1) !important;
      height: 274px !important;
      margin-top: 160px; }
      @media (max-width: 1200px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.mision:hover {
          height: 294px !important; } }
      @media (max-width: 991px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.mision:hover {
          height: 190px !important; } }
      @media (max-width: 765px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.mision:hover {
          height: 200px !important; } }
      @media (max-width: 541px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.mision:hover {
          height: 225px !important; } }
      @media (max-width: 404px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.mision:hover {
          height: 260px !important; } }
      @media (max-width: 380px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.mision:hover {
          height: 240px !important;
          margin-top: 15px; } }
    .hacia-donde-vamos .row:nth-child(2) .widget-container.vision:hover {
      background-color: rgba(163, 212, 20, 0.7);
      border-color: rgba(163, 212, 20, 0.1) !important;
      height: 482px !important;
      margin-top: 60px; }
      @media (max-width: 1200px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.vision:hover {
          margin-top: 20px;
          height: 552px !important; } }
      @media (max-width: 991px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.vision:hover {
          height: 290px !important; } }
      @media (max-width: 767px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.vision:hover {
          height: 350px !important; } }
      @media (max-width: 448px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.vision:hover {
          height: 400px !important; } }
      @media (max-width: 380px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.vision:hover {
          height: 400px !important; } }
    .hacia-donde-vamos .row:nth-child(2) .widget-container.valores:hover {
      background-color: rgba(163, 212, 20, 0.7);
      border-color: rgba(163, 212, 20, 0.1) !important;
      height: 298px !important;
      margin-top: 160px; }
      @media (max-width: 1200px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.valores:hover {
          margin-top: 130px;
          height: 350px !important; } }
      @media (max-width: 991px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.valores:hover {
          height: 200px !important;
          margin-top: 15px; } }
      @media (max-width: 767px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.valores:hover {
          height: 250px !important; } }
      @media (max-width: 509px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.valores:hover {
          height: 225px !important; } }
      @media (max-width: 380px) {
        .hacia-donde-vamos .row:nth-child(2) .widget-container.valores:hover {
          margin-top: 15px;
          height: 250px !important; } }

.que-ofrecemos {
  padding-top: 100px;
  padding-bottom: 100px; }
  .que-ofrecemos .columna1 {
    background-image: url("../img/foto.jpg");
    background-size: cover;
    height: 1000px; }
    @media (max-width: 991px) {
      .que-ofrecemos .columna1 {
        height: 500px; } }
    @media (max-width: 991px) {
      .que-ofrecemos .columna1 img {
        width: 70%; } }
  .que-ofrecemos .columna2 .row {
    height: 300px; }
    @media (max-width: 991px) {
      .que-ofrecemos .columna2 .row {
        height: 300px; } }
  .que-ofrecemos .que-ofrecemos-container {
    position: relative; }
    .que-ofrecemos .que-ofrecemos-container img {
      position: absolute; }
      .que-ofrecemos .que-ofrecemos-container img:last-child {
        z-index: -1;
        top: 0px;
        -webkit-transition: ease 1s all;
        -moz-transition: ease 1s all;
        -ms-transition: ease 1s all;
        -transition: ease 1s all; }
    .que-ofrecemos .que-ofrecemos-container:hover img:last-child {
      top: 150px; }

.portfolio {
  padding-bottom: 100px; }
  .portfolio .row:first-child {
    margin-bottom: 15px; }
    @media (max-width: 991px) {
      .portfolio .row:first-child {
        margin-bottom: 60px; } }
  .portfolio h2 {
    margin-bottom: 0; }
  .portfolio .navbar {
    padding: 0; }
    .portfolio .navbar ul {
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 0; }
      @media (max-width: 991px) {
        .portfolio .navbar ul {
          margin-left: 0;
          margin-right: auto;
          padding-left: 0;
          margin-top: 45px; } }
      @media (max-width: 991px) {
        .portfolio .navbar ul li {
          display: inline-block; } }
      .portfolio .navbar ul li button {
        background: none;
        border: none; }
        @media (max-width: 991px) {
          .portfolio .navbar ul li button:first-child {
            padding-left: 0;
            padding-right: 12px; } }
        .portfolio .navbar ul li button:hover {
          cursor: pointer; }
        .portfolio .navbar ul li button:focus, .portfolio .navbar ul li button:active {
          outline: none; }
        @media (max-width: 575px) {
          .portfolio .navbar ul li button {
            font-size: 12px; } }
  .portfolio .portfolio-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 635px;
    margin-left: 0; }
    @media (max-width: 575px) {
      .portfolio .portfolio-container {
        height: 270px; } }
    .portfolio .portfolio-container #portfolio-identidad {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0%;
      transition: all 0.3s ease; }
    .portfolio .portfolio-container #portfolio-foto,
    .portfolio .portfolio-container #portfolio-grafico,
    .portfolio .portfolio-container #portfolio-identidad,
    .portfolio .portfolio-container #portfolio-mktdigital {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 100%;
      transition: all 0.3s ease; }
      .portfolio .portfolio-container #portfolio-foto img,
      .portfolio .portfolio-container #portfolio-grafico img,
      .portfolio .portfolio-container #portfolio-identidad img,
      .portfolio .portfolio-container #portfolio-mktdigital img {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px; }
        @media (max-width: 575px) {
          .portfolio .portfolio-container #portfolio-foto img,
          .portfolio .portfolio-container #portfolio-grafico img,
          .portfolio .portfolio-container #portfolio-identidad img,
          .portfolio .portfolio-container #portfolio-mktdigital img {
            width: 70%; } }
      .portfolio .portfolio-container #portfolio-foto p,
      .portfolio .portfolio-container #portfolio-grafico p,
      .portfolio .portfolio-container #portfolio-identidad p,
      .portfolio .portfolio-container #portfolio-mktdigital p {
        font-family: "Scala-RegularSC";
        width: 600px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto; }
        @media (max-width: 575px) {
          .portfolio .portfolio-container #portfolio-foto p,
          .portfolio .portfolio-container #portfolio-grafico p,
          .portfolio .portfolio-container #portfolio-identidad p,
          .portfolio .portfolio-container #portfolio-mktdigital p {
            width: 70%;
            font-size: 12px; } }
      .portfolio .portfolio-container #portfolio-foto .carousel-control-prev,
      .portfolio .portfolio-container #portfolio-foto .carousel-control-next,
      .portfolio .portfolio-container #portfolio-grafico .carousel-control-prev,
      .portfolio .portfolio-container #portfolio-grafico .carousel-control-next,
      .portfolio .portfolio-container #portfolio-identidad .carousel-control-prev,
      .portfolio .portfolio-container #portfolio-identidad .carousel-control-next,
      .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-prev,
      .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-next {
        background: none;
        opacity: 1 !important;
        height: calc(100% - 50px); }
        @media (max-width: 575px) {
          .portfolio .portfolio-container #portfolio-foto .carousel-control-prev,
          .portfolio .portfolio-container #portfolio-foto .carousel-control-next,
          .portfolio .portfolio-container #portfolio-grafico .carousel-control-prev,
          .portfolio .portfolio-container #portfolio-grafico .carousel-control-next,
          .portfolio .portfolio-container #portfolio-identidad .carousel-control-prev,
          .portfolio .portfolio-container #portfolio-identidad .carousel-control-next,
          .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-prev,
          .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-next {
            height: calc(100% - 44px); } }
        .portfolio .portfolio-container #portfolio-foto .carousel-control-prev span,
        .portfolio .portfolio-container #portfolio-foto .carousel-control-next span,
        .portfolio .portfolio-container #portfolio-grafico .carousel-control-prev span,
        .portfolio .portfolio-container #portfolio-grafico .carousel-control-next span,
        .portfolio .portfolio-container #portfolio-identidad .carousel-control-prev span,
        .portfolio .portfolio-container #portfolio-identidad .carousel-control-next span,
        .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-prev span,
        .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-next span {
          padding: 15px;
          border: 2px solid #2E3339;
          border-radius: 2px; }
          @media (max-width: 575px) {
            .portfolio .portfolio-container #portfolio-foto .carousel-control-prev span,
            .portfolio .portfolio-container #portfolio-foto .carousel-control-next span,
            .portfolio .portfolio-container #portfolio-grafico .carousel-control-prev span,
            .portfolio .portfolio-container #portfolio-grafico .carousel-control-next span,
            .portfolio .portfolio-container #portfolio-identidad .carousel-control-prev span,
            .portfolio .portfolio-container #portfolio-identidad .carousel-control-next span,
            .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-prev span,
            .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-next span {
              padding: 5px;
              border: 1px solid #2E3339;
              line-height: 14px; } }
          .portfolio .portfolio-container #portfolio-foto .carousel-control-prev span:active,
          .portfolio .portfolio-container #portfolio-foto .carousel-control-next span:active,
          .portfolio .portfolio-container #portfolio-grafico .carousel-control-prev span:active,
          .portfolio .portfolio-container #portfolio-grafico .carousel-control-next span:active,
          .portfolio .portfolio-container #portfolio-identidad .carousel-control-prev span:active,
          .portfolio .portfolio-container #portfolio-identidad .carousel-control-next span:active,
          .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-prev span:active,
          .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-next span:active {
            background: #2E3339; }
        .portfolio .portfolio-container #portfolio-foto .carousel-control-prev:active span,
        .portfolio .portfolio-container #portfolio-foto .carousel-control-next:active span,
        .portfolio .portfolio-container #portfolio-grafico .carousel-control-prev:active span,
        .portfolio .portfolio-container #portfolio-grafico .carousel-control-next:active span,
        .portfolio .portfolio-container #portfolio-identidad .carousel-control-prev:active span,
        .portfolio .portfolio-container #portfolio-identidad .carousel-control-next:active span,
        .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-prev:active span,
        .portfolio .portfolio-container #portfolio-mktdigital .carousel-control-next:active span {
          color: #fff !important; }
    .portfolio .portfolio-container #portfolio-mktdigital {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 300%;
      transition: all 0.3s ease; }

footer {
  color: #fff;
  background-color: #2E3339; }
  footer .container-fluid .columna1 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 7.5%;
    padding-right: 7.5%; }
    footer .container-fluid .columna1 .icon-logo-merlin:before {
      color: #fff;
      font-size: 72px; }
    footer .container-fluid .columna1 .contacto {
      margin-top: 70px;
      margin-bottom: 70px; }
      footer .container-fluid .columna1 .contacto p {
        margin-bottom: 0; }
        footer .container-fluid .columna1 .contacto p:last-child {
          margin-top: 30px;
          font-size: 24px; }
    footer .container-fluid .columna1 form input, footer .container-fluid .columna1 form textarea {
      background: transparent;
      color: #fff !important;
      border: none;
      font-family: "Scala-Regular"; }
      footer .container-fluid .columna1 form input:focus, footer .container-fluid .columna1 form input:active, footer .container-fluid .columna1 form input:hover, footer .container-fluid .columna1 form textarea:focus, footer .container-fluid .columna1 form textarea:active, footer .container-fluid .columna1 form textarea:hover {
        outline: none; }
      footer .container-fluid .columna1 form input::placeholder, footer .container-fluid .columna1 form textarea::placeholder {
        color: #fff; }
    footer .container-fluid .columna1 form input[type='text'] {
      width: 47.5%;
      border-bottom: 2px solid #fff;
      padding-bottom: 10px;
      margin-bottom: 15px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -transition: all 0.5s ease; }
      footer .container-fluid .columna1 form input[type='text']:first-child {
        margin-right: 3.9%; }
        @media (max-width: 1235px) {
          footer .container-fluid .columna1 form input[type='text']:first-child {
            margin-right: 3.8%; } }
        @media (max-width: 1235px) {
          footer .container-fluid .columna1 form input[type='text']:first-child {
            margin-right: 3.7%; } }
        @media (max-width: 1058px) {
          footer .container-fluid .columna1 form input[type='text']:first-child {
            margin-right: 3.6%; } }
        @media (max-width: 417px) {
          footer .container-fluid .columna1 form input[type='text']:first-child {
            margin-right: 3.5%; } }
        @media (max-width: 392px) {
          footer .container-fluid .columna1 form input[type='text']:first-child {
            margin-right: 3%; } }
      footer .container-fluid .columna1 form input[type='text']:focus {
        border-color: #A3D414; }
    footer .container-fluid .columna1 form textarea {
      width: 100%;
      resize: none;
      border-bottom: 2px solid #fff;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -transition: all 0.5s ease;
      rows: 150; }
      footer .container-fluid .columna1 form textarea:focus {
        border-color: #A3D414; }
    footer .container-fluid .columna1 form input[type='submit'] {
      display: block;
      margin-right: 0;
      margin-left: auto;
      margin-top: 10px;
      padding-right: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -transition: all 0.5s ease; }
      footer .container-fluid .columna1 form input[type='submit']:focus, footer .container-fluid .columna1 form input[type='submit']:active, footer .container-fluid .columna1 form input[type='submit']:hover {
        color: #A3D414 !important; }
  footer .container-fluid .columna2 {
    padding: 0;
    background-image: url("../img/comerdo.jpg") !important;
    background-size: cover;
    width: 100%; }
    @media (max-width: 991px) {
      footer .container-fluid .columna2 img {
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px; } }

.ir-arriba {
  display: none;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-image: url(../img/flecha.png);
  width: 36px;
  height: 39px;
  z-index: 9999 !important; }

/*# sourceMappingURL=estilos.css.map */
